/* HTML5 HACK -------------------------------------- */  
header, section, footer, aside, nav, article {  
    display: block;  
}

/* LAYOUT ------------------------------------------ */
@font-face {
    font-family: 'AnonymousPro';
    src: url( fonts/AnonymousPro-Regular.ttf) format('truetype');
} 

html {
    height: 100%;
}
body {
    background: #000;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    text-decoration: none;
    color:#444;
}

#doc  {
    width: 800px;
    margin: 0 auto;
}
div#container {
    position:relative;
    height:auto !important; 
    height:100%; 
    min-height:100%; 
    width: 100%;
}

h2 {
    padding:10px 0 10px 60px;
    margin:0 0 20px 0;
    color:#555;
    background-color:#111;
    border-bottom:3px double #555;
}
h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight:bold;
}

h4 {
    margin-top: 50px;
    font-size: 17px;
    font-weight:normal;
    border-bottom: 1px solid #fff;
}
.img-doc {
    border: 1px solid #fff;
    width: 800px;
}


/* HEADER & NAVIGATION ------------------------------ */

#header {
    height:86px;
    padding: 0 30px 20px 20px;
    border-bottom: 1px solid #fff; 
    margin: 0;
}

#header div#logo {
    font-weight: normal;
    font-size: 30px;
    margin: 0 0  0 25px;
    padding: 25px 0;
    color: #fff;
}

#header nav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 40px;
}

#header nav ul li {
    display: inline;
    float: left; 
    /*  display: inline;*/
    margin: 0;
    padding: 0;
}

#header nav ul li a {
    margin: 0;
    font-size: 15px;
    display: inline;
    padding: 2px 25px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;

    box-shadow:-1px -2px 2px #fff;
    -moz-border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -ms-border-top-left-radius: 7px;
    -o-border-top-left-radius: 7px;
    -khtml-border-top-left-radius: 7px;
    border-top-left-radius: 7px;  
}

#header nav ul li a.active ,
#header nav ul li a:hover {
    background-color: #fff;
    color: #444;
}

#header div#login-form {
    margin-right :15px;
    float:right;
    padding: 0;
} 
#header div#login-form p {
    margin: 0;
}
#header div#login-form p span {
    font-weight: bold;
}
#loggedintext span {
    margin-right:10px;
}

/* CONTENT ------------------------------------------ */
.side {
    width: 79%;
}
.noside {
    width: 100%;
}
#content {
    padding: 0 0 20px 0px;

}
#contentouter {
    float:left;
    margin: 0;
    bottom: 40px;
    position: absolute;
    top: 108px;
    border-right: 10px double #fff;
    overflow-y:auto;
}

#contentinner {
    padding: 0 40px 0 60px;
}


#invite {
    float:right;
    padding-right:20px;
}
#invite span {
    cursor:pointer;
    font-weight: bold;
}
div#register-form form input{
    display:block;
    margin: 15px 30px 0;
}
div#info {
    margin-top:20px;
    font-size: 16px;
}

/* SIDEBAR ------------------------------------------ */

aside {
    position:absolute;
    margin-left:10px;
    padding: 0;
    top:108px;
    bottom:40px;
    width:20%;
    right:0;
    overflow-y: auto;
}
#sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 3px solid #111;
    border-bottom: 3px solid #111;
}
#sidenav ul li ul {
    margin: 0 ;
    background-color: rgba(255,255,255,0.1);;
    border-top: 0px ;
    border-bottom: 0px ;
}
#sidenav ul li ul li {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#sidenav ul li {
    display:block;
    margin: 0;
    padding: 0 ;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}
#sidenav p {
    padding: 0 0 0 10px ;
    margin: 0;
    font-size: 15px;
    color: #fff;

    cursor:pointer;
}
#sidenav ul li ul li p {
}

#sidenav p.active ,
#sidenav p:hover {
    background-color: #fff;
    color: #444;
}

/* FOOTER ------------------------------------------ */

footer {
    height:40px;
    clear: both;
    text-align: right;
    border-top: 2px solid #222;
    background: #111;
    position:absolute;
    bottom:0;
    width: 100%
}

footer div {
    padding: 10px 20px 0 0;
    color: #999;
}

/* FORM -------------------------------------------- */


form input, button {
    background: #000;
    color:#fff; 
    border: 1px solid #fff;
    padding: 0;
}
form input[type='text'],
form input[type='password']{
    padding: 0 3px 2px;
}
button {
    cursor:pointer;
}

form textarea{
    background: #000;
    color:#fff;
}
/* TABLE -------------------------------------------- */

table {
    width: 100%;
    border-collapse:collapse;
    text-align: left;
    font-size:14px;
}
table caption {
    font-weight: bold;
    font-size:16px;
    text-align: left;
    padding: 20px 0px;
}

table th {
    background: #111;
    color:#555;
}
table thead {
    border-bottom:2px solid #555;
}
table td, table th {
    padding:5px;
    border-bottom: 1px solid #fff;
}

table.pastes tbody tr {
    cursor:pointer;
}
table.pastes tbody tr:hover {
    background-color: #222;
}

